In [1]:
import pandas as pd
import arff

In [2]:
# otvoríme dataset (ARFF)
with open('dataset', 'r', encoding='utf-8') as f:
    dataset = arff.load(f)

# vytvoríme DataFrame
df = pd.DataFrame(dataset['data'], columns=[a[0] for a in dataset['attributes']])

# zobrazíme pár riadkov
df.head()

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,class
0,1,3,7,4,41,2,17,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
1,5,1,1,3,64,0,10,0,0,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
2,2,1,1,2,39,0,8,0,0,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
3,3,1,1,1,39,2,12,0,0,1,...,No,No,No,No,No,No,No,No,No,NO
4,3,1,1,3,21,2,23,1,0,0,...,No,No,No,No,No,No,No,Ch,Yes,NO